body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { width: 100%; height: 100% }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }

#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }

#unity-logo { width: 300px; height: 64px; background: url('iz_logo_new_2.png') no-repeat center }

#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress_empty.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress_full.png') no-repeat center }

#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
